/* Imports ## */
/* Imports ## Agenda - Adobe Typeface */
@import url("https://use.typekit.net/mom7mno.css");
/* Imports ## Unbounded - Google Typeface */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap');


/*  Root Variables ## */

:root {
  /* Colors */
  --text-white-color: #ffffff;
  --primary-white-color: #FDFBF4 !important;
  --primary-black-color: #09090C !important;
  --primary-gray-color: #B6B7B3 !important;
  --hover-yellow-color: #FFD800;
  --cta-green-color: #7AC74F;
  --cta-red-color: #FF6C52;
  --background-gold-color: #E8DDAE;
  --background-gray-color: #E7E7E7;
  --theme-color-against-primary: #09090C !important;
  /* Colors - gradients - background-image */
  --black-gray-gradient: linear-gradient(to right, #09090C 70%, #232527, #2f3233, #4d5151, #6d7170, #909491);

  /* Fonts */
  --theme-font-family-heading: "agenda-ultra-condensed", sans-serif;
  --theme-font-family-body: "Inter", sans-serif;
  --theme-font-family-link: "Unbounded", sans-serif;
  --theme-font-weight-link: 500;

  /* Border */
  --border-style-dotted-black: 2px dotted #09090C;
  --border-style-dotted-white: 2px dotted #ffffff;
  --border-style-black: 2px solid #09090C;
  --border-style-white: 2px solid #ffffff;

  /* Customizations */
  --border-radius-button: 40px;
  --animation-timing: .4s ease;
  --filter-opacity: opacity(.8);
}

/* CSS Reset ## */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* to find hidden divs */
  /* border: 1px solid lime; */
}

/* 2. Remove default margin */
* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.3;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 9. Links inherit parent color with specified underline offset*/
a {
  color: inherit;
  text-underline-offset: .2rem;
}

/* Global ## */
body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background-color: var(--primary-white-color) !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Utility Classes ## */
.wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-inline: auto;
  max-width: 90vw;
  width: 1200px;
}

.overflow-hidden {
  overflow: hidden;
}

.fixed-position {
  position: fixed;
}

.zero-opacity {
  opacity: 0;
}

/* remove from DOM */
.hidden {
  visibility: hidden;
  display: none;
}


/* Utility Classes ## Background Colors */
.black-bg {
  background-color: var(--primary-black-color);
}

.white-bg {
  background-color: var(--primary-white-color);
}

.yellow-bg {
  background-color: var(--hover-yellow-color);
}

.green-bg {
  background-color: var(--cta-green-color);
}

.red-bg {
  background-color: var(--cta-red-color);
}

.gray-bg {
  background-color: var(--primary-gray-color);
}

/* Links ## */
/* Links ## Buttons */
a.btn-primary {
  font-family: var(--theme-font-family-link);
  font-weight: var(--theme-font-weight-link);
  font-size: .85rem;
  text-transform: uppercase;
  text-decoration: none;
  border: var(--border-style-black);
  border-radius: var(--border-radius-button);
  padding: .5rem 1rem;
  margin-block: auto;
  text-align: center;
  transition: background-color var(--animation-timing);
}

a.btn-primary:hover,
a.btn-primary:active,
a.btn-primary:focus-visible {
  background-color: var(--hover-yellow-color);
}

/* Links ## Dark Background Buttons */
.black-bg a.btn-primary,
.dark-bg a.btn-primary {
  font-family: var(--theme-font-family-link);
  font-weight: var(--theme-font-weight-link);
  text-transform: uppercase;
  text-decoration: none;
  border: var(--border-style-white);
  border-radius: var(--border-radius-button);
  padding: .5rem 1rem;
  margin-block: auto;
  text-align: center;
  transition: background-color var(--animation-timing),
    color var(--animation-timing),
    border var(--animation-timing);
}

.black-bg a.btn-primary:hover,
.black-bg a.btn-primary:active,
.black-bg a.btn-primary:focus-visible,
.dark-bg a.btn-primary:hover,
.dark-bg a.btn-primary:active,
.dark-bg a.btn-primary:focus-visible {
  color: var(--primary-black-color);
  background-color: var(--hover-yellow-color);
  border: var(--border-style-black);
}


/* Typography ## */
/* Typography ## Headers */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 h6,
.h6 {
  font-family: var(--theme-font-family-heading);
}

h1,
.h1 {
  font-size: 4rem;
}

.entry-title,
h2,
.h2 {
  font-size: 3rem;
}

h3,
.h3 {
  font-size: 2rem;
  margin-bottom: .25rem;
}


.small-text {
  font-size: smaller;
}

/* Typography ## Colors */

.black-text {
  color: var(--primary-black-color);
}

.white-text {
  color: var(--text-white-color);
}

.yellow-text {
  color: var(--hover-yellow-color);
}

.green-text {
  color: var(--cta-green-color);
}

.red-text {
  color: var(--cta-red-color);
}

.gray-text {
  color: var(--primary-gray-color);
}

/* Top Header ## */
.top-header-contain .wrapper {
  justify-content: flex-end;
  align-items: center;
}

.top-header-contain {
  position: relative;
  background-color: var(--primary-black-color) !important;
  color: var(--primary-white-color) !important;
  min-height: 2em;
  padding: .5rem 0;
  display: flex;
  flex-direction: row;
}

.top-header-contain span {
  vertical-align: text-top;
  margin-right: .5rem;
}

/* Top Header ## Links */
.top-header-contain a {
  font-family: var(--theme-font-family-link);
  font-size: small;
  font-weight: var(--theme-font-weight-link);
  text-transform: uppercase;
  text-decoration: none;
  transition: var(--animation-timing);
}

.top-header-contain a:hover,
.top-header-contain a:active,
.top-header-contain a:focus-visible {
  color: var(--hover-yellow-color)
}

.top-header-contain a::before {
  content: '|';
  color: var(--text-white-color);
  font-weight: 200;
  margin: 0 .5rem;
}

.top-header-contain a:nth-child(2)::before {
  content: none;
}


/* Middle Header ## */
/* Middle Header ## Site Logo */
.middle-header-contain {
  padding-block: 2em;
}

.site-branding .site-logo {
  width: 70%;
  transition: filter var(--animation-timing);
}

.site-branding .site-logo:hover,
.site-branding .site-logo:active,
.site-branding .site-logo:focus-visible {
  filter: var(--filter-opacity);
}

.middle-header-contain .buttons-contain {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  margin-right: 4em;
  margin-block: 1em;
}

/* Bottom Header ## */
.bottom-header-contain .wrapper {
  border-top: var(--border-style-dotted-black);
  border-bottom: var(--border-style-dotted-black);
  padding: .5em 0;
}

/* Navigation ## */
/* Navigation ## Main Menu */
.site-header .nav1 .main-menu {
  display: inline-block;
}

/* Navigation ## Main Menu / Lists */
.dd-menu>ul {
  overflow: visible;
  width: 100%;
}

.dd-menu ul,
.dd-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.h-dh .site-header .nav1 .main-menu>li {
  padding: calc(1rem* 0.5) 0;
}

.site-header .nav1 .main-menu>li {
  display: inline-block;
  line-height: 1.2;
  margin-right: 0.5rem;
  text-decoration: none;
}

/* Navigation ## Main Menu / Nav Links */
.site-header .nav1 .main-menu>li>a {
  font-family: var(--theme-font-family-link);
  font-weight: var(--theme-font-weight-link);
  text-transform: uppercase;
  font-size: small;
  text-decoration: transparent;
  text-decoration-thickness: 2px;
  transition: var(--animation-timing);
}

.site-header .nav1 .main-menu>li>a:hover,
.site-header .nav1 .main-menu>li>a:active,
.site-header .nav1 .main-menu>li>a:focus-visible {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* Navigation ## Hamburger Button */
nav.hamburger-contain {
  margin-block: auto;
  z-index: 999 !important;
}

.btn-hamburger {
  position: fixed;
  top: 20px;
  left: min(calc(100vw - 5.5em));
  width: 3.5rem;
  height: 3.5rem;
  margin: auto 0;
  border-radius: 100%;
  background-color: var(--primary-black-color);
  transform: skew(0deg);
  transition: skew var(--animation-timing),
    filter var(--animation-timing),
    transform var(--animation-timing);
}

.btn-hamburger:hover,
.btn-hamburger:focus-visible {
  filter: var(--filter-opacity);
  transform: skew(-15deg, 0deg);
  cursor: pointer;
}

/* Navigation ## Hamburger Default */
.btn-hamburger span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 1.8rem;
  background-color: var(--primary-white-color);
  transition: var(--animation-timing);
}

.btn-hamburger span:nth-child(1) {
  top: 35%;
}

.btn-hamburger span:nth-child(3) {
  top: 65%;
}

/* Navigation ## Hamburger Menu Active / Open */
.btn-hamburger.active {
  border: var(--border-style-white);
}

.btn-hamburger.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn-hamburger.active span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.btn-hamburger.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Navigation ## Mega Menu */
.offcanvas-mega-menu {
  position: absolute;
  visibility: hidden;
  top: 0;
  color: var(--primary-white-color);
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;
  padding-top: 0em;
  transform: scale(1) translate(0%, 2%);
  transition-property: transform;
  transition-duration: .6s;
  transition-timing-function: ease;
  z-index: 99;
}


.offcanvas-circle-expand {
  position: absolute;
  /* overflow: hidden; */
  background-color: var(--theme-color-against-primary);
  top: 0;
  border-radius: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  transform: scale(.75) translate(200%, -250%);
  /* transition-property: transform;
    transition-duration: .6s;
    transition-timing-function: ease; */
}

.offcanvas-mega-menu .wrapper {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: .6s;
  transition-timing-function: ease;
}

.offcanvas-circle-expand.active {
  opacity: 1;
  visibility: visible;
  transform: scale(5) translate(0%, 0%);
  /* transition-property: transform; */
  /* transition-duration: .6s;
  transition-timing-function: ease; */

  transition-property: transform;
  transition-duration: .8s;
  transition-timing-function: ease;


}

.offcanvas-mega-menu.active {
  border-radius: 0%;
  transform: scale(1) translate(0%, 0%);
  color: var(--primary-white-color);
  transition-property: transform;
  transition-duration: .6s;
  transition-timing-function: ease;
  background-color: var(--primary-black-color);


}

.offcanvas-mega-menu.active .wrapper {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  overflow-y: scroll;
}

/* Navigation ## Mega Menu / Bottom Header */
.dark-bg .bottom-header-contain .wrapper {
  display: block;
  border-top: var(--border-style-dotted-white);
  border-bottom: var(--border-style-dotted-white);
  padding: .5em 0 2em 0;
}

.wrapper .mega-menu-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.menu-column {
  flex: 0 0 auto;
  word-wrap: normal;
  border-left: transparent;
  max-width: 100%;
  padding-left: 1em;
}

.menu-column:nth-child(1) {
  border-left: transparent;
}

.menu-column .menu-title {
  font-family: var(--theme-font-family-body);
  font-size: 1.5rem;
}

.menu-column li.h1 {
  line-height: 4.5rem;
  padding: 0 !important;
  margin: 0;
}

.menu-column ul li,
.menu-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-column li>a {
  text-decoration: none;
  transition: color var(--animation-timing),
    margin-left var(--animation-timing);
}


.menu-column li>a:hover,
.menu-column li>a:active,
.menu-column li>a:focus-visible {
  margin-left: 10px;
  color: var(--hover-yellow-color);
}

/* Main ## */
/* Main ## Skew Text Titles */
.skew-title-text-container {
  padding-block: .25em;
  width: 100%;
}

.replace-title {
  /* remove title visibility but keep in DOM */
  opacity: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
}

/* Main ## Dotted Line */
.dotted-line {
  border-bottom: var(--border-style-dotted-black);
  margin-bottom: .5em;
  width: 100%;
}


/* Main ## CTA banners */
main .cta-contain {
  width: 100vw;
  position: relative;
  margin-block: .15em;
}

.cta-contain.black-bg {
  background-image: var(--black-gray-gradient);
}

.cta-content-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  margin-inline: auto;
  max-width: 75vw;
  width: 1200px;
  padding-block: 3em;
  z-index: 2;
}


.black-bg .cta-content-wrapper {
  color: var(--text-white-color);
}

.cta-content-wrapper .cta-action-contain {
  align-self: start;
  min-width: 100%;
}

.cta-content-wrapper h3,
.cta-content-wrapper .cta-title {
  font-family: 'unbounded', sans-serif;
  font-size: 2rem;
  line-height: 2.15rem;
  margin-bottom: 1.25rem;

}

.cta-logo-parent {
  position: absolute;
  /* border: 1px solid lime; */
  overflow: hidden;
  width: 35%;
  height: 100%;
  bottom: 0;
  right: 0;
  aspect-ratio: 1/1;
  z-index: 1;
  pointer-events: none;

}

.cta-logo-parent .cta-logo {
  opacity: .5;
  background-image: url(/assets/imgs/the-lens-mark-gray.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
  min-height: 15em;
}

.cta-content-wrapper p {
  font-size: .85rem;
  line-height: 1.2rem;
  padding-bottom: 1em;
  font-weight: 500;
}

.cta-content-wrapper .btn-primary {
  text-wrap: nowrap;
  background-color: var(--primary-black-color);
}


/* Footer ## */
footer.site-footer {
  margin-top: auto;
  background-color: var(--primary-black-color);
  color: var(--text-white-color);
  min-height: 10em;
  width: 100%;
}

footer .wrapper {
  display: flex;
  flex-direction: column;
}

footer ul,
footer li {
  list-style: none;
  margin: 0;
  padding: 0;

}

footer li>a,
.footer-link {
  text-decoration: transparent;
  transition: color var(--animation-timing), text-decoration var(--animation-timing);
}

.footer-link {
  font-family: var(--theme-font-family-link);
  font-family: var(--theme-font-family-link);
  font-weight: var(--theme-font-weight-link);
  text-transform: uppercase;
  font-size: small;
  text-decoration-thickness: 2px;
}

footer li>a:hover,
.footer-link:hover,
footer li>a:active,
.footer-link:active,
footer li>a:focus-visible,
.footer-link:focus-visible {
  color: var(--hover-yellow-color);
  text-decoration: underline;
}



/* Footer ## Footer Top Image  */
.footer-top-image-contain {
  width: 100%;
  min-height: 2em;
}

.crescent-city-grid-img {
  height: 10em;
  width: 100%;
  background-image: url(assets/imgs/crescent-city-grid-img.jpg);
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: cover;
}

/* Footer ## Footer Top  */
footer .footer-top-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-block: 2em;
}

footer p {
  font-size: .85rem;
  line-height: 1.2rem;
}

footer .footer-logo-link {
  transition: filter var(--animation-timing);
}

footer .footer-logo-link:hover,
footer .footer-logo-link:active,
footer .footer-logo-link:focus-visible {
  filter: var(--filter-opacity);
}

footer .footer-logo {
  max-width: 150px;
  min-width: 100px;
}

/* Footer ## Footer Top / Social Icons */
footer .social-icons-contain {
  display: flex;
  gap: .95rem;
}

footer .social-icons-contain .icon {
  min-width: 25px;
  max-width: 25px;
  aspect-ratio: 1/1;
  transition: filter var(--animation-timing);
}

footer .social-icons-contain .icon:hover,
footer .social-icons-contain .icon:active,
footer .social-icons-contain .icon:focus-visible {
  filter: var(--filter-opacity);
}

/* Footer ## Footer Middle */
footer .footer-middle-contain .wrapper {
  padding-block: 1em;
  border-top: var(--border-style-dotted-white);
  border-bottom: var(--border-style-dotted-white);
  align-items: center;
  text-align: center;
}

footer .footer-middle-contain ul {
  display: flex;
  flex-direction: column;
}

footer .footer-middle-contain li::before {
  content: none;
}

footer .footer-middle-contain li:first-child::before {
  content: none;
}

/* Footer ## Footer Bottom */
footer .footer-bottom-contain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 4em;
  text-align: center;
}

/* Media Queries ## */
.desktop-only {
  display: none;
}

@media only screen and (min-width: 530px) {
  .middle-header-contain .buttons-contain {
    column-gap: .5rem;
    flex-direction: row;
  }

  .menu-column {
    border-left: var(--border-style-dotted-white);
  }

  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }


}

@media only screen and (min-width: 782px) {
  .desktop-only {
    display: inherit;
  }

  .btn-hamburger {
    top: 70px;
  }

  .offcanvas-mega-menu {
    padding-top: 2.5em;
  }

  .middle-header-contain .buttons-contain {
    column-gap: .5rem;
    flex-direction: row;
  }

  .site-branding .site-logo {
    width: 100%;
  }

  .cta-content-wrapper {
    flex-direction: row;
  }

  .cta-content-wrapper .cta-action-contain {
    min-width: 35%;
    margin-left: 2em;
  }



  footer .footer-top-contain {
    display: flex;
    flex-direction: row;
  }

  footer .footer-middle-contain ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  footer .footer-middle-contain li {
    padding-block: .5rem;

  }

  footer .footer-middle-contain li::before {
    content: "\00a0 \00a0 \00a0";
  }


  footer .footer-bottom-contain {
    padding-top: 6em;
    flex-direction: row;
  }

  .cta-logo-parent {
    background-position: 50% 50%;
  }

}



@media only screen and (min-width: 1200px) {
  .desktop-only {
    display: inherit;
  }

  a.btn-primary {
    padding: .5rem 1rem;
  }

  .middle-header-contain .buttons-contain {
    margin-top: 0;
    flex-direction: row;
  }

  footer .footer-middle-contain li::before {
    content: "\00a0\00a0\00a0\00a0|\00a0\00a0\00a0\00a0";
  }

  .cta-logo-parent {
    right: 15%;;
  }

}

/*  Media Queries ## Large Screens */
/* @media (min-width: 1500px) {
  .btn-hamburger {
    left: min(calc(85vw + 7.5em)) !important;

  }

} */